<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, accusantium. Vero, facere delectus. Aliquid harum tempore perspiciatis suscipit itaque dolore placeat, nam enim corrupti voluptatibus iusto, facilis, quo qui incidunt.

</p>