<h1>Héroes <small>Marvel y DC</small></h1>

<div class="card-columns">
  <!-- "*ngFor="let heroe of heroes; let i = index" -->
<app-heroe-tarjeta
   (heroeSeleccionado)="verHeroe($event)"
   [heroe]="heroe" 
   [index]="i"
   *ngFor="let heroe of heroes; let i = index">
</app-heroe-tarjeta>

</div>