<h1>Buscando: <small>{{ parametro }}</small></h1>


<div class="row animated fadeIn fast" *ngIf="resultado.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el termino: {{ parametro }}
    </div>
  </div>
</div>

<div class="card-columns">
  <!-- *ngFor="let heroe of resultado; let i = index" -->
<app-heroe-tarjeta 
  [heroe]="heroe" 
  [index]="heroe.idx" 
  *ngFor="let heroe of resultado;" >

</app-heroe-tarjeta>

</div>